@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

#map { 
    height: 100%; 
    width:100%;
    min-width: none;
    min-height: 500px;
}

* {
  box-sizing: border-box;
}


*:focus, *:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

body {
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
  background-color: #636363;
  font-family: sans-serif;
  color: rgb(70, 70, 70);
}

a {
  text-decoration: none;
  color:crimson;
}

a:hover {
  color:darkmagenta;
}

h2.header {
  font-size: 40px;
  padding-left: 2vw;
  margin-top: 0px;
}

section {
  padding-bottom: 1vw;
  padding-top: 1vw;
}


.main.card {
  background-color: #fff;
  border-radius: 10px;
  border: 1px dashed rgba(43, 43, 43, 0.89);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  margin: 10px;
  flex-grow: 1;
  min-height: 400px;
  min-width: 500px;
  flex-basis: 200px;
  overflow: hidden;
  color: black;
}

.card {
  background-color: rgb(185, 185, 185);
  border-radius: 2px;
  border: 1px dashed rgba(0, 0, 0, 0.7);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  margin: 5px;
  flex-grow: 1;
  flex-basis: 200px;
  overflow: hidden;
  color: black;
}


.flex {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.grid .card {
  min-width: 200px;
}












/* @import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

*:focus, *:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
  background: linear-gradient(315deg, #ffffff, #d7e1ec);
}

.socialWrapper {
  margin-top: 40px;
  display: inline-flex;
}

.socialWrapper span {
  color: black;
}
.socialWrapper a:hover {
  color: white;
}

.socialWrapper .icon {
  position: relative;
  background-color: #ffffff;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.socialWrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background-color: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.socialWrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background-color: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.socialWrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.socialWrapper .icon:hover span,
.socialWrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.socialWrapper .facebook:hover,
.socialWrapper .facebook:hover .tooltip,
.socialWrapper .facebook:hover .tooltip::before {
  background-color: #3b5999;
  color: #ffffff;
}

.socialWrapper .twitter:hover,
.socialWrapper .twitter:hover .tooltip,
.socialWrapper .twitter:hover .tooltip::before {
  background-color: #46c1f6;
  color: #ffffff;
}

.socialWrapper .instagram:hover,
.socialWrapper .instagram:hover .tooltip,
.socialWrapper .instagram:hover .tooltip::before {
  background-color: #e1306c;
  color: #ffffff;
}

.socialWrapper .github:hover,
.socialWrapper .github:hover .tooltip,
.socialWrapper .github:hover .tooltip::before {
  background-color: #333333;
  color: #ffffff;
}

.socialWrapper .youtube:hover,
.socialWrapper .youtube:hover .tooltip,
.socialWrapper .youtube:hover .tooltip::before {
  background-color: #de463b;
  color: #ffffff;
} */
